[logging]
type = "console"   # supported options at the moment are "disabled", "console" and "file"
path = "tmp/log/"       # only used if type is "file", note this is a directory, not a file

# The server config section
[server]
host = "localhost"
port = "3000"
shutdown_timeout = 10 # Seconds to wait before terminating the server

# The database config section
# For Bolt (the recommended driver)
[database]
type = "bolt"      # specify bolt as the database type
path = "eden.db"   # path to the database file

# For MongoDB
#[database]
#type = "mongodb"   # specify mongodb as the database type
#host = "localhost"
#port = "3306"
#user = "example"
#password = "example"
#dbname = "exampleDBName"

[discord]
bot_token = "bot user token goes here"
guild_id  = "main guild id goes here"
admin_ids = ["00000000001", "00000000002", "00000000003"]
registration_channel_id = "channel id for registration updates goes here"
registered_role_id = "role id for registered users goes here"

[worldgen]
dimensions = "10,10,10" # comma separated values representing the dimensions of the world