[logging]
type = "console"   # supported options at the moment are "disabled", "console" and "file"
path = "tmp/log/"       # only used if type is "file", note this is a directory, not a file

# The server config section
[server]
host = "localhost"
port = "8080"
shutdown_timeout = 10 # Seconds to wait before terminating the server 

# The database config section
# For Bolt (the recommended driver)
[database]
type = "bolt"      # specify bolt as the database type
path = "eden.db"   # path to the database file

# For MongoDB
#[database]
#type = "mongodb"   # specify mongodb as the database type
#host = "localhost"
#port = "3306"
#user = "example"
#password = "example"
#dbname = "exampleDBName"
