# The server config section
[server]
host = "localhost"
port = "8080"

# The database config section
[database]
host = "localhost"
port = "3306"
user = "example"
password = "example"
dbname = "exampleDBName"
